.CircleBorderGradient {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(-46deg, #1cb5e0, #000046);
    border-radius: 150px;
    animation: circleborder 5s infinite;
    background-size: 300%;
    transition: all 500ms;
}

@keyframes circleborder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-size: 100%;
    }
}

.whiteCircle {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 100px;
}

@media only screen and (max-width: 640px) {
    .CircleBorderGradient {
        background-color: lightblue;
        width: 150px;
        height: 150px;
    }
}