.feedbackSearch .EmailInput {
    border: 0 solid #fff;
    border-radius: 0;
    /* transition: all 500ms; */
    box-shadow: 12px 12px 12px #eeeafff7, -12px -12px 30px #fff;
    border-radius: 8px;
    transition: all 500ms;
    background-color: #f9f8ff;
}

.feedbackSearch .EmailInput:focus {
    box-shadow: 12px 12px 12px #eeeafff7, -12px -12px 30px #fff;
    border:2px solid #fff   
}