.CircleGradient{
    width:300px;
    height:300px;
    background-image: linear-gradient(-46deg, #1cb5e0, #000046);
    border-radius: 150px;
    animation: circle 5s infinite;
    background-size: 300%;
    transition: all 500ms;
}

@keyframes circle{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-size:100%;
    }

}

@media only screen and (max-width: 640px) {
    .CircleGradient {
        background-color: lightblue;
        width: 150px;
        height: 150px;
    }
}