.Home {
    margin-left: 60px;
    position: relative;
    padding-right: 20px;
    overflow: hidden;
}

.HomeContent {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.hedingStyle {
    font-size: 6vh;
    font-weight: bolder;
}

.EmailInput {
    border: none;
    border-bottom: 1px solid #999999;
    border-radius: 0;
    transition: all 500ms;
}
.EmailInput:focus {
    border-bottom: 2px solid #000046;
}

.HomeContent .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #000046;
    border-radius: 0;
}

.FeedBackButton {
    border: 1px solid var(--defaultColor);
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(to right, #000046, #1cb5e0);
    font-weight: 300;
    transition: all 500ms;
    height:36px;
}

.FeedBackButton:hover {
    /* box-shadow: 0 2px 4px 4px #8cc4fed4 ; */
    color: #fff;
    transition: all 500ms;
    background: linear-gradient(-40deg, #1cb5e0, #000046);
    font-weight: 300;
}

.postioning {
    position: absolute;
    right: -80px;
    bottom: -80px;
    z-index:-1;
}

.postioningBorder {
    position: absolute;
    right: 20%;
    top: -150px;
    z-index:-1;
}

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .mediaQuery {
        display: none;
    }
}



.labelColor:focus{
    color:var(--defaultColor)
}

