
.textGradient{
    color:#000046
}
.selectButton{
    border:2px solid var(--defaultColor);
    color:var(--defaultColor);
    background-color: transparent;
    border-radius: 50px;
    transition: all 500ms;
    cursor: pointer;
    margin-left:8px;
    margin-right:8px;
}
.selectButton:hover{
    border:2px solid var(--defaultColor);
    background: linear-gradient(to right, #000046, #1cb5e0);  ;
    color:#fff;
}

.detailForm{
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px #ebebeb;
    background-color:#fff;
    transition: all 500ms;
}
@media only screen and (min-width: 1200px) {
    .detailForm {
        width:32vw
    }
}

.SSUpload{
    box-shadow: 0 0 4px 4px #dcdcdc;
    border-radius: 8px;
    position: relative;
    min-width: 240px;
}
.one{
    width:20%;
    height: 101px;
    background-color: var(--defaultColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .detailForm {
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}