
@media screen and (max-width: 768px) {
    .emptyDetail{
        display: none;
    }
}

.customScreen{
    height:86vh;
    overflow: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 426px) {
    .customScreen {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin: 0;
    }
}
.positionNoData{
    position: absolute;
    right: 0;
    bottom: 0;
}

