.sidebar{
    width:8px;
    height: 100vh;
    max-height: 100%;
    background: linear-gradient(to right, #000046, #1cb5e0); 
    position: fixed;
}
.sidebarWrapper{
    position: relative;
    height: 100vh;
}
.sidebarContent{
    width:60px;
    padding:12px;
    background: linear-gradient(to right, #000046, #1cb5e0); 
    /* background-color: rgb(90, 88, 88); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.sidebarLink{
    writing-mode: tb-rl;
}