.FeedbackCard {
    /* background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 12px 4px #e7e2fff7; */
    background-color: #f9f8ff;
    border-radius: 8px;
    box-shadow: 12px 12px 12px #e7e2fff7, -12px -12px 20px #fff;
    transition: all 500ms;
}
.FeedbackCard:hover {
    /* background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 12px 4px #e7e2fff7; */
    border-bottom: 6px solid;
    border-image-source: linear-gradient(-46deg, #1cb5e0, #000046);
    border-image-slice: 1;
    border-radius: 8px;

}

.FeedbackHeight {
    height: 84vh;
    overflow: auto;
    position: relative;
}

@media only screen and (max-width: 500px) {
    .customMedia {
        flex-direction: column;
    }
}

/* @media only screen and (min-width: 576px) {
    .cardBox{
        margin-left: 16px;
    }
} */

.noData {
    writing-mode: vertical-lr;
    font-weight: 700;
    font-size: 3em;
    color: #dcdcdc;
}

.middle input[type="radio"] {
    display: none;
}

.middle input[type="radio"]:checked+.FeedbackCard {
    border-bottom: 10px solid;
    border-image-source: linear-gradient(-46deg, #1cb5e0, #000046);
    border-image-slice: 1;
    border-radius: 8px;
    
}
.deleteButton{
    cursor: pointer;
    position: absolute;
    top:10px;
    right:10px;
}