:root{
  --defaultColor:#186AB4
}
.viewHeight{
  height:100vh
}
.centering{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
a{
  color:#fff !important;
  font-weight:300
}

a.active{
  color:#fff  !important;
  font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
background-color: #FFFFFF !important;
color: #555 !important;
-webkit-box-shadow: 0 0 0 1000px white inset !important;
-webkit-text-fill-color: #555555 !important;
}
.reportForm .form-control:focus {
  border-color: none;
  box-shadow: none;
}
